# shellcheck shell=bash

strict_env

# Careful changing this: our CI workflow uses an older Ubuntu with limited access to newer
# versions of direnv.
direnv_version "2.25.2" || exit 1

dotenv_if_exists .env
dotenv_if_exists .env.local

# devbox's direnv script is not always `strict_env` safe.
unstrict_env eval "$(devbox generate direnv --print-envrc)"

PATH_add "bin" "node_modules/.bin"
